.arrow-up {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #FFAC1C;
    bottom: 20px;
    right: 20px;
    background-repeat: no-repeat;
    line-height: 70px;
    font-size: 1.4rem;
}

